.LabelCruzigrama{
    -fx-background-color: #94D335;
    -fx-border-color: black;
    -fx-min-width: 25;
    -fx-pref-width: 25;
    -fx-max-width: 25;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-height: 25;
    -fx-font-size: 100%;
}
.casillanegra{
    -fx-background-color: black;
}

